@import "tailwindcss";

body {
		margin: 0;
		width: 100%;
		height: 100%;
        font-family: Arial, sans-serif;
	}

footer {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 1rem;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

nav {
        background-color: #333;
        padding: 1rem;
    }
 nav a {
        color: white;
        margin-right: 1rem;
    }
