---
import PbImage from './PbImage.astro';
const { offre } = Astro.props;
---

<div class="bg-white shadow-md rounded-xl overflow-hidden border border-slate-200 transition-hover duration-300 hover:shadow-lg">
    <div class="w-full aspect-video overflow-hidden bg-slate-100">
        <PbImage 
            record={offre} 
            recordImage={offre.images[0]} 
            class="w-full h-full object-cover shadow-sm"
        />
    </div>
    
    <div class="p-4 text-center">
        <h2 class="text-lg font-bold text-slate-800 tracking-wide">
            {offre.nom_maison}
        </h2>
    </div>
</div>


 